.container {
  overflow: hidden;
}
.margtp{
  margin-top: 125px;
}
.btn {
  width: 100%;
  color: #fff;
  background-color: rgba(41, 153, 253, 1);
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.btn:hover {
  background-color: #54ADFD;
  color: #fff;
  outline: none !important;
}
.backgroundActive{
background-color: #54ADFD;
border: 1.5px solid #EA714A;
}
input#tbName {
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 71, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  font-size: 13px;
}
@media screen and (min-width: 772px) and (max-width: 991px) {
  .vcv {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 810px) {
  .col-md-6 {
    width: 62%;
  }
  .col-md-3 {
    width: 20%;
  }
  .container {
    padding-top: 160px;
  }

}
// ::selection {
//   background: none;
// }
// ::-moz-selection {
//   background: none;
// }
// ::-webkit-selection {
//   background: none;
// }
::placeholder {
  color: #b5b5bd;
}
:-ms-input-placeholder {
  color: #b5b5bd;
}
::-ms-input-placeholder {
  color: #b5b5bd;
}
@media (min-width: 1020px) and (max-width: 1050px) {
  .container {
    padding-top: 160px;
  }
}
::placeholder {
  color: #b5b5bd !important;
}
input::-webkit-input-placeholder {
	color: #b5b5bd !important;
  font-weight: 500;
}
input::-moz-placeholder {
	color: #b5b5bd !important;
  font-weight: 500;
    opacity: 1;
}
input::-moz-placeholder {
	color: #b5b5bd !important;
  font-weight: 500;
    opacity: 1;
}
.errorBorder{
  border: 1px solid #F16063 !important;
  border-radius: 8px;
  // box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
}


.mainclass{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #2999FD;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
