.container {
  overflow: hidden;
}

.logotp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  width: 250px;
  margin-bottom: 15px;
}

.btn {
  width: 232px;
  margin-top: 20px;
  background: #2999fd;
  color: #fff;
  padding-left: 13px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 8px 24px;
}

.btn:hover {
  background-color: #54ADFD;
  color: #fff;
  outline: none !important;
}

.backgroundActive {
  background-color: #54ADFD !important;
  border: 1.5px solid #EA714A !important;
}

::ng-deep .otp-input:focus-visible {
  border: 2px solid #1f95ff !important;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(41, 153, 253, 0.3) !important;
          box-shadow: 0px 0px 0px 2px rgba(41, 153, 253, 0.3) !important;
}

.txt {
  margin-bottom: 20px;
  margin-left: 10px;
  color: #27272e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-weight: normal;
}

.txtt {
  color: #425466;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  padding-top: 30px;
}

.txttt {
  color: #718096;
  font-weight: 400;
  margin-top: 15px;
  font-size: 10px;
}

@media only screen and (max-width: 767px) {
  .txt {
    margin-left: 0px;
    padding-left: 0px;
  }
  .vca {
    width: 100%;
  }
  .txtt {
    margin-left: -234px;
    padding-left: 0px;
    text-align: left !important;
  }
  .txttt {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .bbb {
    padding-left: 0px;
  }
  .btn {
    margin-left: 0px;
    width: 75%;
  }
  .logotp {
    width: 100%;
    margin-bottom: 15px;
  }
  .container {
    text-align-last: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .vca {
    width: 100%;
  }
  .container {
    padding-top: 170px;
  }
  .bbb {
    width: 100%;
    padding-left: 36px !important;
  }
  .txt {
    margin-left: 10px;
    padding-left: 0px;
  }
  .txtt {
    margin-left: -211px;
    padding-left: 0px;
    text-align: left !important;
  }
  .txttt {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .btn {
    width: 232px;
  }
  .logotp {
    width: 232px;
    margin-bottom: 15px;
  }
  .container {
    text-align-last: center;
  }
  .bbb {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .vca {
    width: 100%;
  }
  .bbb {
    width: 100%;
    padding-left: 96px;
  }
  .txt {
    margin-left: 10px;
    padding-left: 0px;
  }
  .txtt {
    margin-left: -211px;
    padding-left: 0px;
    text-align: left !important;
  }
  .txttt {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .btn {
    width: 232px;
  }
  .logotp {
    width: 232px;
    margin-bottom: 15px;
  }
  .container {
    text-align-last: center;
    padding-top: 200px;
  }
  .bbb {
    width: 100%;
  }
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media only screen and (min-width: 1400px) and (max-width: 2200px) {
  .btn {
    width: 232px;
    margin-top: 20px;
    background: #2999fd;
    color: #fff;
    margin-left: 14px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 8px 24px;
  }
  .bbb {
    padding-left: 17px;
  }
  .txtt {
    padding-left: 18px;
  }
  .txttt {
    padding-left: 19px;
  }
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

::-moz-selection {
  background: none;
}

::-webkit-selection {
  background: none;
}

::ng-deep .errorred
.otp-input {
  border: 1px solid red !important;
  outline: 0;
}
/*# sourceMappingURL=otp-screen.component.css.map */