.container {
  overflow: hidden;
}

.logotp {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100%;
  margin-top: 33px;
  background: #2999fd;
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 8px 24px;
}

.hide {
  display: none;
}

.inner-addon {
  position: relative;
}

.inner-addon .far {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}

.left-addon .far {
  left: 0px;
}

.right-addon .far {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.btn:hover {
  color: #fff;
}

img.picon {
  float: right;
  margin-top: -30px;
  padding-right: 7px;
}

.pt-5 {
  padding-top: 0rem !important;
}

@media only screen and (max-width: 767px) {
  .container {
    text-align-last: center;
  }
  .password {
    text-align-last: left;
  }
  .logotp {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    text-align-last: center;
    padding-top: 160px;
  }
  .logotp {
    width: 95%;
  }
  .password {
    text-align-last: left;
  }
  .bcb {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .container {
    text-align-last: center;
    padding-top: 160px;
  }
  .logotp {
    width: 90%;
  }
  .password {
    text-align-last: left;
  }
  .bcb {
    width: 65%;
  }
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.pass-con {
  font-size: 13px;
  padding: 2px;
  font-weight: 500;
  border: none;
  outline: none;
}

.mmm {
  background-color: #fff !important;
  margin-left: 1px;
  height: 40px;
  border: 1px solid #ffff;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(50, 50, 71, 0.2);
          box-shadow: 1px 1px 2px 1px rgba(50, 50, 71, 0.2);
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 13px;
}

.hiddeninput {
  color: transparent;
}

.myinput > input {
  color: transparent !important;
}

.passSpan {
  position: absolute;
  top: 3px;
  left: 13px;
  letter-spacing: 0.8px;
  font-size: 13px;
  font-weight: 500;
}

::-webkit-input-placeholder {
  color: #b5b5bd;
}

:-ms-input-placeholder {
  color: #b5b5bd;
}

::-ms-input-placeholder {
  color: #b5b5bd;
}

::placeholder {
  color: #b5b5bd;
}

:-ms-input-placeholder {
  color: #b5b5bd;
}

::-ms-input-placeholder {
  color: #b5b5bd;
}

.pt {
  padding-top: 5px;
}

.bmn {
  padding-top: 3px;
}

::-webkit-input-placeholder {
  color: #b5b5bd !important;
}

:-ms-input-placeholder {
  color: #b5b5bd !important;
}

::-ms-input-placeholder {
  color: #b5b5bd !important;
}

::placeholder {
  color: #b5b5bd !important;
}

input::-webkit-input-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
}

input::-moz-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
  opacity: 1;
}

input::-moz-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
  opacity: 1;
}

.invalid {
  color: #F16063;
  font-size: 11px;
  letter-spacing: 0.25px;
  margin: 10px 0;
}

.success {
  color: green;
  font-size: 11px;
  letter-spacing: 0.25px;
  margin: 10px 0;
}

.errorBorder {
  border: 1px solid #F16063 !important;
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
          box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
}
/*# sourceMappingURL=new-password.component.css.map */