<div *ngIf="!passChanged" class="container">
  <div class="row" style="margin-top: 125px">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bcb">
          <img class="logotp" src="../assets/formLogo.svg" />
          <p
            style="
              text-align: center;
              font-size: 16px;
              font-weight: 500;
              margin-top: 15px;
              color: #27272e;
            "
          >
            Here you are!
          </p>
          <form class="pt-5">
            <div class="password" style="padding-top: 15px">
              <label
                for="password"
                class="form-label"
                style="
                  margin-bottom: 4px;
                  margin-top: 10px;
                  font-weight: 500;
                  color: #425466;
                "
                >Password</label
              ><br />
              <div class="mmm" [ngClass]="{'errorBorder' : isorderred }">
                <div class="">
                  <div class="mb-0">
                    <input
                      style="
                        background-color: #fff;
                        padding-left: 10px;
                        position: relative;
                        color: #585556;
                      "
                      [type]="showPassword ? 'text' : 'password'"
                      (keydown.enter)="onResetPassword()"
                      (input)="testOriginal = $event.target.value"
                      class="InputFields"
                      autocomplete="cc-name"
                      formControlname="password"
                      placeholder="Type your password"
                      name="login"
                    />
                  </div>
                  <div class="bbn">
                    <img
                    alt="hide"
                    src="/assets/picon.svg"
                    class="mr-4"
                    (click)="showPassword = !showPassword"
                    [class.hide]="!showPassword"

                  />
                  <img
                    alt="show"
                    src="/assets/Eye.svg"
                    class="mr-4"
                    (click)="showPassword = !showPassword"
                    [class.hide]="showPassword"
                  />
                  </div>
                </div>
              </div>
            </div>
            <!-- <small *ngIf="isPassworrdValid" class="invalid">8 characters minimum.</small> -->
            <div class="password" style="padding-top: 15px">
              <label
                for="password"
                class="form-label"
                style="
                  margin-bottom: 4px;
                  margin-top: 10px;
                  font-weight: 500;
                  color: #425466;
                "
                >Retype new password</label
              ><br />
              <div class="mmm" [ngClass]="{'errorBorder' : isorderred }">
                <div >
                  <div class="mb-0">
                    <input
                    autocomplete="cc-name"
                    formControlname="password"
                    (keydown.enter)="onResetPassword()"
                      style="
                        background-color: #fff;
                        padding-left: 10px;
                        position: relative;
                        color: #585556;
                      "
                      [type]="showPasswordd ? 'text' : 'password'"
                      (input)="testOriginal1 = $event.target.value"
                      class="InputFields"
                      id="tbName"
                      placeholder="Retype your password"
                      name="login"
                    />
                  </div>
                  <div class="bbn">
                    <img
                    alt="hide"
                    src="/assets/picon.svg"
                    class="mr-4"
                    (click)="showPasswordd = !showPasswordd"
                    [class.hide]="!showPasswordd"

                  />
                  <img
                    alt="show"
                    src="/assets/Eye.svg"
                    class="mr-4"
                    (click)="showPasswordd = !showPasswordd"
                    [class.hide]="showPasswordd"
                  />
                  </div>
                </div>
              </div>
            </div>
          </form>
          <p *ngIf="notSamePasswords" class="invalid">Password mismatch!</p>
          <small *ngIf="isPassworrdValid" class="invalid">Password must be 8 characters long.</small>
          <!-- <p *ngIf="passChanged" class="success">Password changed successfully. You can login with your new credentials.</p> -->
          <button (click)="onResetPassword()" class="btn" [disabled]="testOriginal1 === '' || loading">
            <span
            style="margin-right: 5px;"
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>Restore</button>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<ng-container *ngIf="passChanged">
  <app-signup-complete></app-signup-complete>
</ng-container>
