.container {
  overflow: hidden !important;
  padding-top: 60px;
}
.bcd {
  margin-bottom: 40px;
  margin-top: 40px;
}
.form-control {
  background-color: #fff !important;
  padding: 10px;
  border: 1px solid #ffff;
  box-shadow: 1px 1px 2px 1px rgba(50, 50, 71, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
}
button {
  width: 100%;
  color: #fff;
  outline: none !important;
  background-color: #2999fd;
  // border: 1px solid rgba(201, 206, 214, 1);
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 12px;
}
button:hover {
  background-color: #54ADFD;
  color: #fff;
  outline: none !important;
}
.backgroundActive{
background-color: #54ADFD;
border: 1.5px solid #EA714A;
}
.vertical-center {
  margin-top: 105px;
}
.vertical-centers {
  margin-top: 75px;
}

.buton {
  height: 35px;
}
.loader-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.form-check-input {
  border: 1px solid #c9ced6;
}
.form-check-input:checked {
  background-color: #ea714a;
  border-color: #ea714a;
}
.form-check {
  margin-top: 30px;
}
.form-check-input[type="checkbox"] {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  box-shadow: none;
}
img.picon {
  float: right;
  margin-top: -30px;
  padding-right: 7px;
}
img.logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pt-5 {
  padding-top: 2rem !important;
}
.hide {
  display: none;
}
.inner-addon {
  position: relative;
}
.inner-addon .far {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}
.left-addon .far {
  left: 0px;
}
.right-addon .far {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.btn:hover {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-md-6 {
    width: 62%;
  }
  .col-md-3 {
    width: 20%;
  }
  .container {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 150px) and (max-width: 767px) {
  // .col-md-6 {
  //   width: 62%;
  // }
  // .col-md-3 {
  //   width: 20%;
  // }
  // .col-md-2.mbn{
  //   display: flex;
  //   justify-content: end;
  //   margin-top: -28px;
  // }
  .container {
    padding-top: 160px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .col-md-6 {
    width: 54%;
  }
  .container {
    padding-top: 160px;
  }
  // .col-md-3{
  //   width: 20%;
  // }
}
// button.btn.btn-primary:hover {
//   transition: none !important;
//   text-decoration: none;
//   transform: none;
// }
.btn:focus {
  box-shadow: none !important;
}
.pass-con {
  font-size: 13px;
  padding: 2px;
  font-weight: 500;
  border: none;
  outline: none;
}
.mbn{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.mmm {
  background-color: #fff ;
  font-weight: 600;
  font-size: 13px;
  position: relative;
}
//  .col-md-2.bmn{
//   padding-left: 20px;
// }
// @media only screen and (min-width: 1400px){
//   .col-md-2.bmn{
//     padding-left: 33px !important;
//   }
// }
// ::selection {
//   background: none;
// }
// ::-moz-selection {
//   background: none;
// }
// ::-webkit-selection {
//   background: none;
// }
.hiddeninput {
  color: transparent;
}
.myinput > input {
  color: transparent !important;
}
.passSpan {
  position: absolute;
  top: 3px;
  left: 13px;
  letter-spacing: 0.8px;
  font-size: 13px;
  font-weight: 500;
}
::placeholder {
  color: #b5b5bd !important;
  // padding-bottom: 8px !important;
}
input::-webkit-input-placeholder {
  color: #b5b5bd !important;
  // padding-bottom: 8px !important;
  font-weight: 500;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
  // padding-bottom: 8px !important;
  font-weight: 500;
  opacity: 1;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
  // padding-bottom: 8px !important;
  font-weight: 500;
  opacity: 1;
}
.pt {
  padding-top: 5px;
}
.bmn {
  padding-top: 3px;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .container {
    padding-top: 110px;
  }
}
@media (min-width: 1600px) and (max-width: 2200px) {
  .container {
    padding-top: 150px;
  }
}
.invalid{
  color: #F16063;
  font-size: 11px;
  letter-spacing: 0.25px;
}
.errorBorder{
  border: 1px solid #F16063 !important;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
}
.validation-error{
  color:red;
}
.InputFields {
  font-size: 13px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
  height: 40px;
  width: 100%;
  background-color: #fff;
  padding-left: 10px;
  color: #585556;
}
