.innner_div {
  height: 40px;
  // width: 240px;
  display: flex;
  padding: 0px 8px 0px 12px;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}
.modal-footer{
  border-top:none !important;
  padding: 23px !important
}
.modal-header{
  border-bottom:none !important;
  padding: 24px !important

}
.modal-body{
  padding: 24px !important
}
.modal-content{
  width: 369px !important
}
.innner_divv {
  height: 40px;
  // width: 240px;
  display: flex;
  padding: 0px 8px 0px 12px;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  // padding-left: 10px;
}
.gau {
  font-size: 17px;
  font-weight: 600;
  color: #425466;
  margin-left: 10px;
}
.innner_div_email {
  height: 40px;
  width: 240px;
  display: flex;
  padding: 0px 8px 0px 12px;
  align-items: center;
  box-shadow: 0px 0px 3px 0px #c3c0c0;
  background-color: #f9fafc;
  border-radius: 8px;
  // padding-left: 10px;
}
.label {
  font-size: 14px;
  color: #425466;
  font-weight: 500;
}
.inner_name {
  font-weight: 500;
  font-size: 13px;
  color: #585556;
}
.inner_namee {
  font-weight: 500;
  font-size: 13px;
}
.inner_email {
  font-weight: 500;
  font-size: 13px;
  color: #b5b5bd;
}
.changeBacvk{
// border: 1px solid black;
box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
width: max-content;
padding: 24px;
// background: white;
}
.innner_div_button {
  height: 36px;
  width: 120px;
  display: flex;
  float: right;
  align-items: center;
  background-color: #2999fd;
  border-radius: 8px;
  justify-content: center;
  // transition: 0.3s ease-in;
  cursor: pointer;
}
.innner_div_buttonch {
  height: 36px;
  width: 165px;
  display: flex;
  float: right;
  align-items: center;
  background-color: #718096;
  border-radius: 8px;
  justify-content: center;
  // transition: 0.3s ease-in;
  cursor: pointer;
}
.innner_div_button:active {
  border: 1.5px solid #ea714a;
}
.innner_div_button_save:focus-visible {
  outline: none !important;
}
.innner_div_button:hover {
  background-color: #54adfd;
}
.innner_div_button:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
*:focus-visible {
  outline: 0 !important;
}
.innner_div_button_save {
  height: 36px;
  width: 120px;
  // margin-left: 40px;
  display: flex;
  float: left;
  align-items: center;
  border: 1px solid #c9ced6;
  // box-shadow: 0px 0px 3px 0px #c3c0c0;
  background-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.innner_div_button_save:hover {
  background-color: #f4faff;
}
.innner_div_button_save:active {
  border: 1.5px solid #ea714a;
}
.inner_name_button {
  font-weight: 600;
  cursor: pointer;
  float:right;
  color: #ffff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
.inner_name_button_save {
  font-weight: 600;
  font-size: 14px;
  float: left;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: rgba(88, 85, 86, 1);
}
.innner_div_chng_pass {
  height: 40px;
  width: 187px;
  display: flex;
  padding: 0px 8px 0px 12px;
  align-items: center;
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 8px;
  font-size: 13px;
  padding-left: 10px;
}
.innner_div_chng_pass:hover {
  background-color: #f4faff;
}
.activePass {
  background: #f4faff;
  border: 1.5px solid #ea714a;
}

.form-controls {
  background-color: transparent !important;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  border: none;
  font-weight: 500;
  outline: none;
}
.hide {
  display: none;
}
.inner-addon {
  position: relative;
}
.inner-addon .far {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}
.left-addon .far {
  left: 0px;
}
.right-addon .far {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
img.picon {
  padding-right: 12px;
}
.label {
  color: #425466;
}
.catimg {
  display: flex;
  // justify-content: space-between;
  width: 270px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .col-md-1 {
    margin-right: 25px !important;
  }
  .bcc {
    width: 45%;
    margin-left: 38px;
  }
  .ccb {
    width: 45%;
  }
  .widtpro {
    display: none !important;
  }
  // .innner_divv {
  //   width: 195px;
  // }
  img.picon {
    margin-left: -50px;
  }
  // .dateDropdown{
  //   width: 210px !important;
  // }
  // .dateDropdownList{
  //   width: 210px !important;
  // }
  .catimg {
    width: 240px !important;
  }
  .crtea {
    margin-right: 5px !important;
  }
}
// @media screen and (min-width: 1201px) and (max-width: 1350px) {
//   .innner_div_button {
//     margin-left: 25px;
//   }
// }
@media screen and (min-width: 768px) and (max-width: 999px) {
  // .innner_div_button {
  //   margin-left: 110px;
  // }
  .teamresponsive{
    width: 200%;
    // overflow: auto;
  }
}
// @media screen and (min-width: 1000px) and (max-width: 1200px) {
//   .innner_div_button {
//     margin-left: 65px;
//   }
// }
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .col-md-4.bb {
    width: 30.3333% !important;
  }
  .innner_div_email {
    height: 43px;
    width: 240px;
  }
  .innner_div {
    height: 41px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 41px !important;
  }
  .dateDropdownList {
    width: 250px !important;
  }
  .dateDropdownn {
    width: 240px !important;
    height: 41px !important;
  }
  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    padding-top: 15px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 14px;
  }
  .innner_div_chng_pass {
    height: 41px;
    width: 195px;
  }
  .rom {
    padding-top: 2rem !important;
  }
  .mt-3 {
    margin-top: 1rem !important;
  }
  .Profile_images {
    height: 42px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .col-md-4.bb {
    width: 30.3333% !important;
  }
  .innner_div_email {
    height: 42px;
    width: 240px;
  }
  .innner_div {
    height: 42px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 42px !important;
  }

  .dateDropdownn {
    width: 240px !important;
    height: 42px !important;
  }
  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    // padding-top: 15px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 12px;
  }
  .innner_div_chng_pass {
    height: 42px;
    width: 195px;
  }
  .rom {
    padding-top: 2.5rem !important;
  }
  .mt-3 {
    margin-top: 1.6rem !important;
  }
  .Profile_images {
    height: 50px;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.Profile_images {
  height: 45px;
}
.butr {
  margin-bottom: 10px !important;
}
@media screen and (min-width: 1801px) and (max-width: 2000px) {
  .col-md-4.bb {
    width: 27.3333% !important;
  }
  .innner_div_email {
    height: 40px;
    width: 240px;
  }
  .innner_div {
    height: 40px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 40px !important;
  }

  .dateDropdownn {
    width: 240px !important;
    height: 40px !important;
  }
  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    padding-top: 5px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 5px;
  }
  .innner_div_chng_pass {
    height: 42px;
    width: 195px;
  }
  .rom {
    padding-top: 2.5rem !important;
  }
  .mt-3 {
    margin-top: 1.3rem !important;
  }
  .Profile_images {
    height: 45px;
  }
}
@media screen and (min-width: 2001px) and (max-width: 2300px) {
  .col-md-4.bb {
    width: 22.3333% !important;
  }
  .col-md-1.inage {
    width: 6.3333%;
  }
  .innner_div_email {
    height: 40px;
    width: 240px;
  }
  .innner_div {
    height: 40px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 40px !important;
  }

  .dateDropdownn {
    width: 240px !important;
    height: 40px !important;
  }
  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    padding-top: 5px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 5px;
  }
  .innner_div_chng_pass {
    height: 42px;
    width: 195px;
  }
  .rom {
    padding-top: 2.5rem !important;
  }
  .mt-3 {
    margin-top: 1.3rem !important;
  }
  .Profile_images {
    height: 45px;
  }
}
@media screen and (min-width: 2301px) and (max-width: 2500px) {
  .col-md-4.bb {
    width: 19.3333% !important;
  }
  .col-md-1.inage {
    width: 6.3333%;
  }
  .innner_div_email {
    height: 40px;
    width: 240px;
  }
  .innner_div {
    height: 40px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 40px !important;
  }

  .dateDropdownn {
    width: 240px !important;
    height: 40px !important;
  }
  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    padding-top: 5px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 5px;
  }
  .innner_div_chng_pass {
    height: 42px;
    width: 195px;
  }
  .rom {
    padding-top: 2.5rem !important;
  }
  .mt-3 {
    margin-top: 1.3rem !important;
  }
  .Profile_images {
    height: 45px;
  }
}
@media screen and (min-width: 2501px) and (max-width: 2800px) {
  .col-md-4.bb {
    width: 19.3333% !important;
  }
  .col-md-1.inage {
    width: 6.3333%;
  }
  .innner_div_email {
    height: 40px;
    width: 240px;
  }
  .innner_div {
    height: 40px;
    width: 240px;
  }
  .dateDropdown {
    width: 240px !important;
    height: 40px !important;
  }
  .dateDropdownn {
    width: 240px !important;
    height: 40px !important;
  }

  .dateDropdownListt {
    width: 240px !important;
  }
  .butr {
    margin-bottom: 10px !important;
    padding-top: 5px !important;
  }
  .label {
    color: #425466;
    font-size: 14px !important;
    padding-top: 5px;
  }
  .innner_div_chng_pass {
    height: 42px;
    width: 195px;
  }
  .rom {
    padding-top: 2.5rem !important;
  }
  .mt-3 {
    margin-top: 1.3rem !important;
  }
  .Profile_images {
    height: 45px;
  }
}
// ::selection {
//   background: none;
// }
// ::-moz-selection {
//   background: none;
// }
// ::-webkit-selection {
//   background: none;
// }
.dateDropdown {
  width: 240px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 12px;
  align-items: center;
  cursor: pointer;
}
.dateDropdown:hover {
  background-color: #f4faff !important;
}
.dateDropdownList {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  width: 250px;
  z-index: 99;
  background-color: #fff;
  color: #585556;
}
.dateDropdownList::selection {
  background-color: transparent;
}
.dateDropdownList > div {
  text-align: start;
  padding: 7px;
  border-radius: 8px;
  color: #585556;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
}
.dateDropdownList > div::selection {
  background-color: transparent;
}
.dateDropdownList > div:hover {
  // background-color: #2999fd;
  color: #ea714a !important;
  // transition: all 0.3s;
}
.nameDropDown{
  position: absolute;
  bottom: 124px;
  left: 0;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  width: 250px;
  z-index: 99;
  background-color: #fff;
  color: #585556;
  height: 137px;
  overflow-y: auto;
}
.nameDropDown::selection {
  background-color: transparent;
}
.nameDropDown > div {
  text-align: start;
  padding: 7px;
  border-radius: 8px;
  color: #585556;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
}
.nameDropDown > div::selection {
  background-color: transparent;
}
.nameDropDown > div:hover {
  // background-color: #2999fd;
  color: #ea714a !important;
  // transition: all 0.3s;
}
.mt-3 {
  margin-top: 0.8rem !important;
}
@media screen and (min-width: 768px) and (max-width: 820px) {
  .mt-3 {
    margin-top: 2.3rem !important;
  }
  .innner_div_email {
    height: 43px;
  }
  .innner_div {
    height: 43px;
  }
  .innner_div_chng_pass {
    height: 43px;
  }
  .dateDropdown {
    height: 43px !important;
  }
  .dateDropdownn {
    height: 43px !important;
  }
  .rom {
    padding-top: 3rem !important;
    width: 120%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1050px) {
  .mt-3 {
    margin-top: 2rem !important;
  }
  .innner_div_email {
    height: 46px;
  }
  .innner_div {
    height: 46px;
  }
  .innner_div_chng_pass {
    height: 46px;
  }
  .dateDropdown {
    height: 46px !important;
  }
  .dateDropdownn {
    height: 46px !important;
  }
  .rom {
    padding-top: 4rem !important;
  }
}
.pt {
  padding-top: 14px;
}
::placeholder {
  color: #b5b5bd !important;
}
input::-webkit-input-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
  opacity: 1;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
  font-weight: 500;
  opacity: 1;
}
.profile-tabs::ng-deep {
  .mat-tab-header {
    width: 294px !important;
    border-bottom: none !important;
    // border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
  }
  .mat-tab-label {
    border-bottom: 1px solid #F0F0F0;
    min-width: 90px;
    padding: 0px 15px !important;
    margin-top: 15px;
    color: #718096;
    font-size: 14px;
    font-weight: 600 !important;
    height: 30px !important;
    opacity: 1 !important;
  }
  .mat-tab-label-active {
    color: #ea714a !important;
    border-bottom: 1px solid #ea714a;
  }
  mat-ink-bar {
    background-color: transparent !important;
    // max-width: 106px !important;
  }
  .mat-tab-body-content {
    overflow: hidden !important;
  }
  .md-ripple-container:active {
    background-color: none !important;
  }
  #mat-tab-label-0-4 {
    background-color: #fff !important;
  }
  .mat-tab-group.mat-primary
    .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled) {
    background-color: #fff !important;
  }
  .mat-tab-group.mat-primary
    .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled) {
    background-color: #fff !important;
  }
}
::ng-deep {
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
  .imageuploader {
    display: none !important;
  }
}
.ring {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #585556;
  margin-bottom: 10px;
}
.ringim {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 32px;
  margin-top: 12px;
}
.btn {
  background-color: #2999fd;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  padding: 9px;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  color: #fff;
  // width: 282px !important;
  // width: 100% !important;
}
.btn:hover {
  background-color: #54adfd;
}
.btn:focus{
  border: 1px solid #ea714a !important;
}
.btnActive {
  background-color: #f4faff;
  border: 1px solid #ea714a !important;
}
.unio {
  padding-right: 5px;
}
.btn:focus {
  box-shadow: none !important;
}
.widpro {
  width: 31.3333% !important;
  height: fit-content;
}
.ringizm {
  margin-left: auto;
  margin-right: auto;
  width: 139.16px;
  height: 64px;
  display: block;
  margin-bottom: 32px;
  margin-top: 12px;
}
.btcon {
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  height: 40px;
  color: #66cb9f;
  width: 282px !important;
}
.unionn {
  padding-right: 16px;
}
.fluffy {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #585556;
}
.imgSize {
  width: 48px;
  height: 48px;
}
.onwor {
  font-size: 12px;
  font-weight: 400;
  color: #585556;
  padding-right: 5px;
}
.none {
  display: none;
}
.nambr {
  font-size: 16px;
  font-weight: 400;
  color: #585556;
}
.img2 {
  position: absolute;
  left: 45px;
}
.img3 {
  position: absolute;
  left: 80px;
}
.img4 {
  position: absolute;
  left: 106px;
}
.txtwor {
  text-align: end !important;
  padding-top: 15px !important;
}
.bosha {
  box-shadow: 1px 4px 30px rgba(245, 247, 251, 0.75);
  border-radius: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  // width: 31.3333%;
  margin-bottom: 20px;
  margin-right: 0px;
}
// .pencilo {
//   margin: -15px;
//   cursor: pointer !important;
// }
// @media screen and (min-width: 1800px) and (max-width: 3000px) {
//   .pencilo {
//     margin: 0px !important;
//   }
// }
// @media screen and (min-width: 1600px) and (max-width: 1799px) {
//   .pencilo {
//     margin: -8px !important;
//   }
// }
.zapmar {
  margin-left: 0px;
  margin-top: 20px;
}
@media screen and (min-width: 725px) and (max-width: 1150px) {
  // .bosha{
  //   width: 95%;
  //   margin-left: 0px !important;
  // }
  .zapmar {
    margin-top: 0px !important;
  }
  .cruse {
    width: 130px !important;
    margin-right: 0px !important;
  }
  .crtea{
    width: 130px !important;
  }
  .widpro {
    width: 95% !important;
    margin-bottom: 15px;
  }
  .margpagi {
    margin-left: 16px !important;
  }
  // .respon {
  //   width: 200%;
  // }

  .imcol {
    margin-right: 0px !important;
  }
  .mt-3.dropd {
    margin-top: 0px !important;
  }
  .profile-tabs::ng-deep {
    .mat-tab-body-content {
      overflow: auto !important;
      height: 87vh;
    }
  }
}
.penic {
  cursor: pointer;
}
::ng-deep {
  .mat-tab-body-content {
    padding-bottom: 20px !important;
  }
  .mat-date-range-input-separator {
    color: #b5b5bd !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1050px) {
  // .bosha {
  //   width: 95%;
  //   margin-left: 0px !important;
  // }
  .zapmar {
    margin-top: 0px !important;
  }
  .widpro {
    width: 95% !important;
    margin-bottom: 15px;
  }
  .mt-3.dropd {
    margin-top: 0px !important;
  }
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f9fafc;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500 !important;
  font-family: 'Inter';
font-style: normal;
}
.dropdown-menu {
 border: none;
 width: 252px;
 max-height: 152px;
 padding: 16px;
 box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
::ng-deep .convirza-cai{

  .mat-toolbar-row{
      height: 72px !important;
  }
}
.maingroup {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.location {
  font-weight: 400;
  font-size: 14px;
  color: #718096;
}
.maintext {
  font-size: 12px;
  font-weight: 600;
  color: #505780;
  margin-right: 8px;
}
.mainact {
  // background-color: #f9fafc;
  // padding: 12px 20px;
  display: flex;
  align-items: center;
  height: 36px;
  // border-radius: 100px;
  // margin-left: 10px;
  cursor: pointer;
}
.marginR{
  margin-right: 16px;
}
.breadCrumbs{
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 0 15px;
    margin-left: 14px;
}
.height_top {
  height: 72px;
  border-top-left-radius: 20px;
  margin-top: 18px;
  background-color: white;
}

input[type="text"] {
  border: none;
  outline: none;
  width: 300px;
}
// @media (min-width: 1000px) and (max-width: 1300px) {
//   .height_top {
//     height: 64px;
//   }
// }
// @media only screen and (min-width: 1600px) and (max-width: 1800px) {
//   .height_top {
//     height: 80px;
//     border-top-left-radius: 20px;
//     margin-top: 30px;
//   }
// }
// @media only screen and (min-width: 1801px) and (max-width: 2000px) {
//   .height_top {
//     height: 80px;
//     border-top-left-radius: 20px;
//     margin-top: 30px;
//   }
// }
// @media only screen and (min-width: 2001px) and (max-width: 2800px) {
//   .height_top {
//     height: 70px;
//     border-top-left-radius: 20px;
//     margin-top: 18px;
//   }
// }
.crtea {
  font-size: 14px;
  font-weight: 600;
  color: #585556;
  border: 1px solid #c9cdc6;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  width: 148px;
  padding-bottom: 5px;
  margin-right: 15px;
}
.crtea:hover {
  background: #f4faff !important;
}
.cruse {
  font-size: 14px;
  margin-right: 20px;
  font-weight: 600;
  color: #585556;
  border: 1px solid #c9cdc6;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: 144px;
}
.cruse:hover {
  background: #f4faff !important;
}
.teamin {
  padding: 0px 8px 0px 12px;
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #585556;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
}
::ng-deep {
  .Team-Modals .modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 330px !important;
    height: auto !important;
    padding-top: 10px !important;
    padding-left: 25px;
    padding-right: 15px !important;
    border: 1px solid #fff;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
      0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 0px !important;
  }
  .Team-Modals .modal-header {
    border-bottom: none !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-left: 18px !important;
  }
  .Team-Modals .modal-body {
    padding-top: 1em !important;
    padding-right: 1em !important;
    padding: 0px !important;
    margin-bottom: 1em !important;
    margin-left: 1em !important;
    margin-top: 1em !important;
  }
}
.sac {
  width: 250px !important;
  height: 40px;
  border-radius: 8px;
  background-color: #2999fd;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.sac:active{
  border: 1px solid #ea714a;
}
::ng-deep {
  .Group-Modals .modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 369px !important;
    max-height: 460px !important;
    height: auto !important;
    padding-top: 10px !important;
    padding-left: 10px;
    padding-bottom:24px;
    padding-right: 15px !important;
    border: 1px solid #fff;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
      0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 0px !important;
  }
  .Group-Modals .modal-header {
    border-bottom: none !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-left: 18px !important;
  }
  .Group-Modals .modal-body {
    padding-top: 1em !important;
    padding-right: 1em !important;
    padding: 0px !important;
    margin-bottom: 1em !important;
    margin-left: 1em !important;
    margin-top: 1em !important;
  }
  .Group-Modals .modal-title {
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #425466 !important;
  }
}

.det {
  width: 250px !important;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f16063;
  margin-left: 0.8em;
  border: 1px solid #fef7f7;
}
.close {
  border: none !important;
  background-color: #fff;
  outline: none !important;
}
.modal-title {
  font-size: 17px;
  font-weight: 600;
  color: #425466;
}
.modal-title {
  font-size: 17px;
  font-weight: 600;
  color: #425466;
}

.btn:focus {
  box-shadow: none !important;
}
.dropd {
  .dateDropdown {
    width: 250px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 12px;
    align-items: center;
    cursor: pointer;
  }
  .dateDropdown:hover {
    background-color: #f4faff !important;
  }
  .dateDropdownactive {
    border: 2px solid #1f95ff !important;
    outline: 0;
    box-shadow: 0px 0px 0px 2px rgba(41, 153, 253, 0.3) !important;
  }
  .dateDropdownList::selection {
    background-color: transparent;
  }
  .dateDropdownList > div {
    text-align: start;
    padding: 7px;
    border-radius: 8px;
    color: #585556;
    padding-left: 10px;
    cursor: pointer;
  }
  .dateDropdownList > div::selection {
    background-color: transparent;
  }
  .dateDropdownList > div:hover {
    // background-color: #2999fd;
    color: #ea714a !important;
    // transition: all 0.3s;
  }
}
.imageuploader {
  outline: none !important;
  border: none;
  display: none;
}
.catimg > input {
  display: none !important;
}
.profileImage {
  width: 48px;
  height: 48px;
  margin-left: 10px;
  border-radius: 50%;
}
// @media screen and (min-width: 1330px) and (max-width: 1340px) {
//   .pencilo {
//     margin: -14px !important;
//   }
// }
.player_bottom {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: transparent;
  right: 15px;
  left: 250px;
  border-bottom-left-radius: 30px;
}
.player_bottom {
  background-color: #fff;
}
.paginationContainer {
  font-size: 12px;
  font-weight: 400;
  color: #585556;
  margin-top: 15px;
  padding: 0 20px;
}
.paginationButtons > div {
  margin: 0 12px;
}
.pageCounter {
  margin-right: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #585556;
  margin-top: 2px;
}
.counter {
  height: 40px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 8px;
  outline: none;
  text-align: center;
  color: #585556;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.cursor-pointer {
  cursor: pointer;
}
.cusDropdown {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.cusDropdown {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.propaggidrop {
  .dropdownList {
    position: absolute;
    bottom: 40px;
    left: 0;
    border-radius: 8px;
    width: 80px;
    z-index: 99;
    background-color: #fff;
  }
  .dropdownList::selection {
    background-color: transparent;
  }
  .dropdownList > div {
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
  }
  .dropdownList > div::selection {
    background-color: transparent;
  }
  .dropdownList > div:hover {
    background-color: #fff;
    color: #ea714a;
    transition: all 0.3s;
  }
  .dateDropdown {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    align-items: center;
    cursor: pointer;
  }
  .dateDropdownList::selection {
    background-color: transparent;
  }
  .dateDropdownList > div {
    padding: 7px;
    border-radius: 8px;
    text-align: start;
    padding-left: 10px;
    cursor: pointer;
  }
  .dateDropdownList > div::selection {
    background-color: transparent;
  }
  .dateDropdownList > div:hover {
    // background-color: #2999fd;
    color: #ea714a !important;
    // transition: all 0.3s;
  }
  .durationDropdown {
    width: 80px;
    height: 40px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    align-items: center;
    cursor: pointer;
  }
  .durationDropdownList {
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 80px;
    z-index: 99;
    background-color: #f4f4f4;
  }
  .durationDropdownList::selection {
    background-color: transparent;
  }
  .durationDropdownList > div {
    padding: 7px;
    border-radius: 8px;
    text-align: start;
    padding-left: 10px;
    cursor: pointer;
  }
  .durationDropdownList > div::selection {
    background-color: transparent;
  }
  .durationDropdownList > div:hover {
    background-color: #2999fd;
    color: #fff;
    transition: all 0.3s;
  }
}
.flex {
  display: flex;
}
.justify-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-center {
  align-items: center;
}
.loader-bg {
  margin-top: 6rem;
  width: 100%;
  height: 70vh;
  background: #ffffff;
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}
.loader-bg h3 {
  position: fixed;
  color: #ff5e31;
  font-size: 24px;
}
.loader {
  width: 4rem;
  height: 4rem;
  font-size: 22px;
  box-sizing: border-box;
  border-top: 0.3em solid #505050;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.loader span {
  position: absolute;
  color: #ff5e31;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 0.3em solid #ff5e31;
  transform: rotate(240deg);
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg));
  }
  100% {
    transform: rotate(calc(360deg));
  }
}

.dateDropdownn {
  width: 240px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 12px;
  align-items: center;
  cursor: pointer;
}
.dateDropdownn:hover {
  background-color: #f4faff !important;
}
.dateDropdownListt::selection {
  background-color: transparent;
}
.dateDropdownListt > div {
  text-align: start;
  padding: 7px;
  border-radius: 8px;
  color: #585556;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
}
.dateDropdownListt > div::selection {
  background-color: transparent;
}
.dateDropdownListt > div:hover {
  // background-color: #;
  color: #ea714a !important;
  // transition: all 0.3s;
}
::ng-deep {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    border-radius: 20px !important;
    background-color: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d5d4d4;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #cecccc;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #b1b1b1;
  }
}
.respon {
  margin-top: 40px;
  margin-bottom: 75px;
}
.fluffy:hover {
  color: #ea714a !important;
}
::placeholder {
  color: #b5b5bd !important;
}
input::-webkit-input-placeholder {
  color: #b5b5bd !important;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
}
.bosha:hover {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
    0px 10px 16px rgba(20, 37, 63, 0.06);
}
@media screen and (min-width: 2800px) and (max-width: 3000px) {
  .col-md-2.bb {
    width: 8.66667% !important;
  }
}
.Dropcol {
  color: #b5b5bd;
}
.Dropcol-active {
  color: #ea714a !important;
}
.margpagi {
  margin-left: 36px;
}
.errorBorder {
  border: 1px solid #f16063 !important;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
}
.unlinkBtn {
  margin: 10px 0;
  text-align: center;
}
.unlinkBtn > button {
  border: 1px solid #c9ced6;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
  color: #585556;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.unlinkBtn > button > svg {
  margin-right: 5px;
}
.unlinkBtn > button:hover {
  background-color: #f4faff;
}
.unlinkBtn > button:focus {
  border: 1px solid #ea714a;
}
.flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.dateRange {
  color: #425466;
  font-size: 14px;
  font-weight: 500;
}
::ng-deep .convirza-cai{
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-flex {
    height: 32px !important;
  }
  .mat-form-field-infix {
    padding: 10px 10px !important;
    border-top: none !important;
  }
  .mat-ripple-element {
    transition-duration: 0ms !important;
  }
  .mat-form-field-flex {
    width: 78% !important;
  }
  // .mat-icon-button {
  //   width: 0 !important;
  //   height: 0 !important;
  // }
  // .material-icons {
  //   font-size: 0 !important;
  // }
  .mat-form-field-flex {
    align-items: center !important;
  }
}
a:focus-visible {
  outline: none;
}
.rangeText {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #425466;
  text-align: start !important;
  margin-top: 15px;
}
.progressContainer {
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.progressBar1 {
  border-radius: 20px;
  height: 8px;
  width: var(--widthU);
}
.progressBar2 {
  border-radius: 20px;
  height: 8px;
  width: var(--widthP);
}
.progressBar3 {
  border-radius: 20px;
  height: 8px;
  width: var(--widthT);
}

.orange {
  background-color: #fcf9e6;
}
.orange > div {
  background-color: #e79154;
}
.green {
  background-color: #e6f7f6;
}
.green > div {
  background-color: #01aea4;
}
.blue {
  background-color: #e2f4fc;
}
.blue > div {
  background-color: #3fb5eb;
}
.progressText {
  font-size: 14px;
  font-weight: 600;
  color: #425466;
}
.progressValues {
  font-size: 12px;
  font-weight: 500;
  color: #585556;
}
.bar {
  margin: 20px 0;
}
.barText {
  margin: 5px 0;
}
.rangeField {
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  position: relative;
}
.dateRangeValue {
  color: #b5b5bd;
  font-weight: 500;
  font-size: 13px;
  border: none;
  outline: none;
}
::ng-deep {
  .right {
    display: none !important;
  }
  .drp-selected {
    display: none !important;
  }
  .cancelBtn {
    border: 1px solid #cfc8c8;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    margin-right: 5px;
  }
  .applyBtn {
    border: 1px solid #cfc8c8;
    width: 95px;
    height: 36px;
    border-radius: 8px;
    margin-left: 5px;
    background-color: #2999fd !important;
  }
  .drp-buttons {
    display: flex !important;
    justify-content: center !important;
    border-top: none !important;
  }
  .daterangepicker td.active {
    background-color: #2999fd !important;
  }
  .daterangepicker {
    position: absolute !important;
    // top: 0 !important;
    // left: 0 !important;
  }
}
.dateDropdownactive {
  border: 2px solid #1f95ff !important;
  outline: 0;
  box-shadow: 0px 0px 0px 2px rgba(41, 153, 253, 0.3) !important;
}
.backgroundActive {
  background-color: #54adfd;
  border: 1.5px solid #ea714a;
  outline: transparent 1px !important;
  // outline-color: transparent !important;
  box-shadow: none !important;
}

.searchContainer {
  margin-top: 20px;
  height: 70px;
}
.inputContainer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
  margin: 0 10px;
}
.mainDiv {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  z-index: 999;
}

.search {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-left: 9px;
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}
.clearText {
  font-size: 12px;
  font-weight: 600;
  color: #718096;
}
.verticalLine {
  border-left: 1px solid lightgray;
  height: 22px;
  margin-left: 15px;
}
.lookingFor {
  margin: 20px 0;
  padding: 0 10px;
}
.lookingText {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin-left: 7px;
}
.buttons {
  margin-top: 6px;
}
.buttons button {
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 15px;
  border: 1px solid #c9ced6;
  margin-right: 10px;
  height: 46px;
  color: #585556;
}
.buttons button:hover {
  background-color: #f4faff;
}
.buttons > button > svg {
  margin-right: 14px;
  fill: #707070;
  // stroke: #707070;
}
.tagStroke {
  fill: none !important;
  stroke: #707070;
}
.activeButton {
  background-color: #2999fd;
  color: #fff !important;
  border: 1px solid #2999fd !important;
}
.buttons button:active{
  border: 1px solid #EA714A !important;
}
.activeButton > svg {
  fill: #fff !important;
}
.activeButton:hover {
  background-color: #54adfd !important;
  border: 1px solid #54adfd !important;
}
.activeStroke > svg {
  stroke: #fff !important;
  fill: none !important;
}
.listContainer {
  padding: 0 10px;
  margin: 15px 0;
  max-height: 160px;
  overflow-y: auto;
}
.userList {
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
}
.userList:hover {
  background-color: #f9fafc;
}
.userName {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
}
.userMail {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
}
.focusOnList {
  background-color: #f9fafc;
}
.flex {
  display: flex;
  align-items: center;
}
.item-center {
  align-items: center;
}
.spinner-border {
  color: #2999fd;
}

.calIcon {
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}

.rangeField::ng-deep {
  .md-drppicker .dropdowns {
    width: 75px!important;
}
  .md-drppicker .buttons {
    margin: 0 !important;
  }
  .md-drppicker td.active {
    background-color: #2999fd !important;
  }
  .md-drppicker td {
    opacity: 1 !important;
  }
  .md-drppicker .btn.btn-default {
    float: left !important;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfc8c8 !important;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    color: #212529 !important;
    margin-left: 18.6px;
    text-transform: capitalize;
  }
  .md-drppicker .btn.btn-default:hover {
    background-color: #f4faff !important;
  }
  .md-drppicker .btn.btn-default:active {
    outline: 1.5px solid #ea714a !important;
    border: 1px solid #fff !important;
    color: #212529 !important;
    background-color: #fff !important;
  }
  .md-drppicker .btn.btn-default:active {
    background-color: transparent !important;
  }
  .md-drppicker td.start-date {
    border-radius: 0px 0px 0px 0px!important;
}
.md-drppicker td.end-date {
  border-radius: 0px 0px 0px 0px!important;
}
  .md-drppicker .btn {
    border: none !important;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    margin-left: 5px;
    background-color: #2999fd;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 9.5px;
    text-transform: capitalize;
    color: #fff !important;
  }
  .md-drppicker .btn:hover {
    background-color: #54adfd !important;
  }
  .md-drppicker .btn:active {
    outline: 1.5px solid #ea714a !important;
    border: transparent !important;
    color: #fff !important;
  }
  .md-drppicker .btn:before {
    background-color: transparent !important;
  }
  .buttons_input {
    margin-bottom: 6px !important;
    padding-right: 12px !important;
  }
  .md-drppicker .clear svg {
    display: none !important;
  }
  .in-range {
    background-color: #ebf4f8 !important;
  }
  .md-drppicker td {
    border: none !important;
  }
  .md-drppicker td.available:hover {
    border-radius: 2px !important;
  }
  .in-range {
    background-color: #ebf4f8 !important;
  }
  .md-drppicker td {
    border: none !important;
  }
  .md-drppicker td.available:hover {
    border-radius: 2px !important;
  }
  .md-drppicker td.start-date {
    border-radius: 4px 0 0 4px !important;
  }
  .md-drppicker td.end-date {
    border-radius: 0 4px 4px 0 !important;
  }
  .md-drppicker .dropdowns {
    width: 60px !important;
  }
  .drp-animate {
    font-size: 12px;
  }
  // .drp-animate > tr > td {
  //   padding: 2px 0;
  // }
  .md-drppicker .calendar td {
    padding: 5px 0 !important;
  }
  .md-drppicker th.month {
    font-size: 14px !important;
  }
  .calendar-table {
    margin-bottom: 12px !important;
  }
}
.reportDiv {
  background-color: #fff;
  height: 50px;
  width: 150px;
}
.modalBodys {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.item-center {
  align-items: center;
}
.reportedText {
  font-weight: 600;
  color: #425466;
  font-size: 17px;
}
.submitQA {
  color: #2999fd;
  font-size: 13px;
  font-weight: 500;
  margin: 25px 0;
}
.resultFound{
  margin-top: 10px;
  padding: 0 10px;
}
.resultCount{
  font-size: 14px;
  font-weight: 500;
  color: #425466;
}
.resultList{
  margin-top: 10px;
  height: calc(77vh - 40px);
  overflow-y: auto;
}
.resultItem{
  display: flex;
  margin: 5px 0;
  padding: 8px 10px;
}
.resultItem:hover{
  background-color: #F9FAFC;
  border-radius: 8px;
  cursor: pointer;
}
.recName{
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-right: 20px;
}
.resName{
  color: #718096;
  font-size: 14px;
  font-weight: 500;
}
.zoomImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 12px;
}
.CFAimage{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 34px;
  margin-top: 12px;
}
.offset-1{
  margin-left: 1.6% !important;
}
.respon > .col-md-4 {
  flex: 0 0 auto;
  width: 31% !important;
}
.activeDrop{
  color: #EA714A;
}
.teamTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teamTitle > div{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.importCall{
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: #425466;
  font-size: 17px;
  font-weight: 600;
}
.buttonContainer{
  // display: flex;
  width: -webkit-fill-available;
  align-items: center;
  margin-top: 20px;
}
.userProfile{
  display: flex;
  align-items: center;
  height: 44px;
  position: relative;
  width: 91%;
}

.activeStatus{
  position: absolute;
  top: -4px;
  right: 0;
  background-color: #66CB9F;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  z-index: 99;
  border: 3px solid #fff;
}
.none{
  display: none;
}
.searchButton{
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid #C9CED6;
}
.errorText{
  font-size: 9px;
  font-weight: 400;
  color: rgb(242, 81, 81);
  margin: 5px 0;
  display: block;
  margin-left: 5px;
}
.disabledFields{
  background-color: #e6e6e6;
}
.disabledFields:hover{
  background-color: #e6e6e6 !important;
  cursor: default;
}
.custom-toast{
  position: fixed;
  right: 35px;
  top: 20px;
  width: 350px;
  height: 92px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgb(12 26 75 / 24%), 0px 3px 8px -1px rgb(50 50 71 / 5%);
  border: 1px solid #01AEA4;
 z-index: 99999;
 background-color: #fff;
 padding: 10px 20px;
 display: none;
 transition: 0.5s all;
 opacity: 0;
 transform: scale(0);
}

.activeToast{
  display: block;
  transition: 0.5s all;
  opacity: 1;
 transform: scale(1);
 right: 35px;
}
