.height_top {
  height: 72px;
  border-top-left-radius: 20px;
  margin-top: 18px;
  background-color: white;
}
.matToolbar {
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 0px !important;
}
.marginR {
  margin-right: 20px;
}
.img {
  position: relative;
  width: 90px;
  display: flex;
}
.img1 {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 0;
}
.img2 {
  position: absolute;
  z-index: 2;
  top: -20px;
  left: 20px;
}
.img3 {
  position: absolute;
  z-index: 3;
  top: -20px;
  left: 40px;
}
.img4 {
  position: absolute;
  z-index: 4;
  top: -20px;
  left: 60px;
}
.imgSize {
  width: 35px;
  height: auto;
}
.crteaa {
  font-size: 14px;
  font-weight: 600;
  color: #585556;
  background: transparent;
  border: 1px solid #c9ced6;
  border-radius: 8px;
  padding-left: 13px;
  padding-bottom: 3px;
  padding-right: 10px;
  width: 128px;
  margin-right: 10px;
}
.crteaa:hover{
  background: #F4FAFF !important;
}
.crusee {
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  color: #585556;
  border: 1px solid #c9ced6;
  border-radius: 8px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 10px;
  width: 180px;
}
.crusee:hover{
  background: #F4FAFF !important;
}
.btnActive{
  background-color: #F4FAFF;
  border: 1px solid #EA714A !important;
}
.bosha {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding-left: 8px;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-right: 10px;
  // width: 318px;
  // height: 104px;
  margin-bottom: 20px;
  // margin-right: 20px;
  width: 30.3333%;
  height: 104px;
}
.boshaa {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 26px;
  padding-top: 12px;
  // width: 318px;
  // height: 104px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 31.3333%;
  height: 104px;
}
.boshaaa {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 22px;
  padding-top: 12px;
  margin-bottom: 20px;
  width: 31.3333%;
  height: 104px;
}
.fluffy {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #585556;
}
.avtcol {
  padding-top: 13px;
  width: 45px !important;
}
.anmail {
  font-size: 14px;
  font-weight: 400;
  color: #585556;
}
.actan {
  color: #66cb9f;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.actann {
  color:#F16063;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.dropdet {
  margin-left: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1224px) {
  // .bosha {
  //   width: 95%;
  //   margin-left: 0px !important;
  // }
  // .boshaa {
  //   width: 95%;
  //   margin-left: 0px !important;
  // }
  .tittletool{
    padding-left: 0px !important;
  }
  // .boshaaa {
  //   width: 95%;
  //   margin-left: 0px !important;
  // }
  // .toolbarcontent {
  //   display: none !important;
  // }
  // .buttontool{
  //   right: -5px !important;
  // }
  .detailresp{
    width: 200%;
    height: 74vh;
    // overflow-x: scroll;
    // overflow-y: scroll;
  }
  .mainDiv{
    width: 200%;
  }
  .searchContainer{
    width: 200%;
  }
  .margpag{
    margin-left: 16px !important;
  }
  .anmail{
    font-size: 13px;
  }
  .height_top{
    width: 200%;
  }
  // .crusee {
  //   display: none !important;
  // }
}
// @media screen and (min-width: 1024px) and (max-width: 1050px) {
//   .bosha {
//     width: 95%;
//     margin-left: 0px !important;
//   }
//   .boshaa {
//     width: 95%;
//     margin-left: 0px !important;
//   }
//   .boshaaa {
//     width: 95%;
//     margin-left: 0px !important;
//   }
//   .tittletool{
//     padding-left: 0px !important;
//   }
//   .toolbarcontent {
//     display: none !important;
//   }
//   .buttontool{
//     right: -5px !important;
//   }
// }
::ng-deep{
.Create-User .modal-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
 max-width: 330px !important;
  height: auto !important;
  padding-top: 10px !important;
  padding-left: 25px;
  padding-right: 15px !important;
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 0px !important;
}
.Create-User .modal-header {
  border-bottom: none !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-left: 18px !important;
}
.Create-User .modal-body{
  padding-top: 1em !important;
  padding-right: 1em !important;
  // padding-left: 1em !important;
  padding: 0px !important;
  margin-bottom: 1em !important;
  margin-left: 1em !important;
  margin-top: 1em !important;
}
}
mat-toolbar {
  background: #f9fafc;
}
.sac {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  background-color: #2999fd;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.sac:active{
  border: 1px solid #ea714a;
}
.sac:hover{
  background-color: #54ADFD;
}
.det {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #F16063;
  margin-left: 12px;
  border: 1px solid #FEF7F7;
}
.det:hover{
    background-color: #F4FAFF;
}
.det:active{
  border: 1px solid #EA714A !important;
}
.close{
  border: none !important;
  background-color: #fff;
  outline: none !important;
}
.modal-title{
  font-size: 17px;
  font-weight: 600;
  color: #425466;
}
.teamin{
  padding: 0px 8px 0px 12px;
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #585556;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
}
.sacc {
  width: 117px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  color: #585556;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  transition: 0.3s ease;
  border: 1px solid #C9CED6;
  border: 1px solid transparent;
}
.sac:active{
  border: 1px solid #ea714a;
}
.sacc:hover{
  background-color: #F4FAFF;
}
.dett {
  width: 117px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #f16063;
  margin-left: 12px;
  border: 1px solid #FEF7F7;
  transition: 0.3s ease;
  border: 1px solid transparent;
}
.dett:active{
  border: 1px solid #2999fd;
}
.dett:hover{
  opacity: 0.8;
}
.btn:focus {
  box-shadow: none !important;
}
.dateDropdown {
  width: 250px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 12px;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}
.dateDropdown:hover{
background-color: #F4FAFF !important;
}
.dateDropdownList {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  width: 250px;
  z-index: 99;
  background-color: #fff;
  color: #585556;
}
.dateDropdownList::selection {
  background-color: transparent;
}
.dateDropdownList > div {
  text-align: start;
  padding: 7px;
  border-radius: 4px;
  color: #585556;
  padding-left: 10px;
  cursor: pointer;
}
.dateDropdownList > div::selection {
  background-color: transparent;
}
.dateDropdownList > div:hover {
  // background-color: #2999fd;
  color: #EA714A !important;
  // transition: all 0.3s;
}
// @media only screen and (min-width: 1600px) and (max-width: 1800px){
//   .height_top {
//     height: 80px;
//     border-top-left-radius: 20px;
//     margin-top: 30px
//   }
// }
// @media only screen and (min-width: 1801px) and (max-width: 2000px){
//   .height_top {
//     height: 80px;
//     border-top-left-radius: 20px;
//     margin-top: 30px
//   }
// }
// @media only screen and (min-width: 2001px) and (max-width: 2800px){
//   .height_top {
//     height: 70px;
//     border-top-left-radius: 20px;
//     margin-top: 18px
//   }
// }
.player_bottom {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: transparent;
  right: 15px;
  left: 250px;
  border-bottom-left-radius: 30px ;
}
.player_bottom {
  background-color: #fff;
}
.paginationContainer {
  font-size: 12px;
  font-weight: 400;
  color: #585556;
  margin-top: 15px;
  padding: 0 20px;
}
.paginationButtons > div {
  margin: 0 12px;
}
.pageCounter {
  margin-right: 15px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #585556;
  margin-top: 2px;
}
.counter {
  height: 40px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 8px;
  outline: none;
  text-align: center;
  color: #585556;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.cursor-pointer {
  cursor: pointer;
}
.cusDropdown {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.cusDropdown {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.flex {
  display: flex;
}
.justify-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-center {
  align-items: center;
}

.paggidrop{
.dropdownList {
  position: absolute;
  bottom: 40px;
  left: 0;
  border-radius: 5px;
  width: 80px;
  z-index: 99;
  background-color: #fff;
}
.dropdownList::selection {
  background-color: transparent;
}
.dropdownList > div {
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.dropdownList > div::selection {
  background-color: transparent;
}
.dropdownList > div:hover {
  color: #EA714A;
  transition: all 0.3s;
}
.dateDropdown {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  align-items: center;
  cursor: pointer;
}
.dateDropdown:hover{
  background-color: #F4FAFF !important;
}
.dateDropdownList {
  position: absolute;
  top: 42px;
  left: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 167px;
  z-index: 99;
  background-color: #f4f4f4;
}
.dateDropdownList::selection {
  background-color: transparent;
}
.dateDropdownList > div {
  padding: 7px;
  border-radius: 4px;
  text-align: start;
  padding-left: 10px;
  cursor: pointer;
}
.dateDropdownList > div::selection {
  background-color: transparent;
}
.dateDropdownList > div:hover {
  background-color: #2999fd;
  color: #fff;
  transition: all 0.3s;
}
.durationDropdown {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  align-items: center;
  cursor: pointer;
}
.durationDropdownList {
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80px;
  z-index: 99;
  background-color: #f4f4f4;
}
.durationDropdownList::selection {
  background-color: transparent;
}
.durationDropdownList > div {
  padding: 7px;
  border-radius: 4px;
  text-align: start;
  padding-left: 10px;
  cursor: pointer;
}
.durationDropdownList > div::selection {
  background-color: transparent;
}
.durationDropdownList > div:hover {
  background-color: #2999fd;
  color: #fff;
  transition: all 0.3s;
}
}
::ng-deep {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    border-radius: 20px !important;
    background-color: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d5d4d4;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #cecccc;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #b1b1b1;
  }
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.dateDropdownn{
  display: flex;
  cursor: pointer;
}
.actdrop{
  .dateDropdown:hover{
    background-color: #F4FAFF !important;
  }
  .dateDropdownList {
    position: absolute;
    top: 18px;
    left: -3px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    width: 85px;
    z-index: 99;
    background-color: #fff;
    color: #585556;
  }
  .dateDropdownList::selection {
    background-color: transparent;
  }
  .dateDropdownList > div {
    text-align: start;
    padding:5px 7px;
    border-radius: 4px;
    color: #585556;
    padding-left: 10px;
    cursor: pointer;
  }
  .dateDropdownList > div::selection {
    background-color: transparent;
  }
  .dateDropdownList > div:hover {
    // background-color: #2999fd;
    color: #EA714A !important;
    transition: all 0.3s;
  }
}
.activeDrop{
  color: #EA714A;
}
.buttontool{
  position: absolute;
  top: 10px;
  right: 310px;
  display: flex;
  margin-right: 10px;
}
.label{
  font-size: 14px;
  font-weight: 500;
  color: #425466;
}
.loader-bg {
  width: 80%;
  height: 70vh;
  background: #ffffff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}
.loader-bg h3 {
  position: fixed;
  color: #ff5e31;
  font-size: 24px;
}
.loader {
  width: 4rem;
  height: 4rem;
  font-size: 22px;
  box-sizing: border-box;
  border-top: 0.3em solid #505050;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.loader span {
  position: absolute;
  color: #ff5e31;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 0.3em solid #ff5e31;
  transform: rotate(240deg);
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg));
  }
  100% {
    transform: rotate(calc(360deg));
  }
}
.detailresp{
  margin-top: 40px;
  margin-left: 5px;
  margin-bottom: 60px
}
::placeholder {
  color: #b5b5bd !important;
}
input::-webkit-input-placeholder {
  color: #b5b5bd !important;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
}
input::-moz-placeholder {
  color: #b5b5bd !important;
}
.Detailcol{
  color: #b5b5bd;
}
.Detailcol-active{
  color: #585556;
}
.margpag{
  margin-left: 36px;
}
@-moz-document url-prefix() {
  .bosha{
    padding-left: 7px !important;
    // padding-right: 28px !important;
  }
}
.dateDropdownactive{
  border: 2px solid #1f95ff !important;
  outline: 0;
  box-shadow: 0px 0px 0px 2px rgba(41, 153, 253, 0.3) !important;
}


.searchContainer {
  margin-top: 18px;
  height: 70px;
}
.inputContainer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
  margin: 0 10px;
}
.mainDiv {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  z-index: 999;
}

.search {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-left: 9px;
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}
.clearText {
  font-size: 12px;
  font-weight: 600;
  color: #718096;
}
.verticalLine {
  border-left: 1px solid lightgray;
  height: 22px;
  margin-left: 15px;
}
.lookingFor {
  margin: 20px 0;
  padding: 0 10px;
}
.lookingText {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin-left: 7px;
}
.buttons {
  margin-top: 6px;
}
.buttons button {
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 15px;
  border: 1px solid #c9ced6;
  margin-right: 10px;
  height: 46px;
  color: #585556;
  background-color: #fff;
}
.buttons button:hover {
  background-color: #f4faff;
}
.buttons > button > svg {
  margin-right: 14px;
  fill: #707070;
  // stroke: #707070;
}
.tagStroke {
  fill: none !important;
  stroke: #707070;
}
.activeButton {
  background-color: #2999fd !important;
  color: #fff !important;
  border: 1px solid #2999fd !important;
}
.buttons button:active{
  border: 1px solid #EA714A !important;
}
.activeButton > svg {
  fill: #fff !important;
}
.activeButton:hover {
  background-color: #54adfd !important;
  border: 1px solid #54adfd !important;
}
.activeStroke > svg {
  stroke: #fff !important;
  fill: none !important;
}
.listContainer {
  padding: 0 10px;
  margin: 15px 0;
  max-height: 160px;
  overflow-y: auto;
}
.userList {
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
}
.userList:hover {
  background-color: #f9fafc;
}
.userName {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
}
.userMail {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
}
.focusOnList {
  background-color: #f9fafc;
}
.flex {
  display: flex;
  align-items: center;
}
.item-center {
  align-items: center;
}
.spinner-border {
  color: #2999fd;
}
.resultFound{
  margin-top: 10px;
  padding: 0 10px;
}
.resultCount{
  font-size: 14px;
  font-weight: 500;
  color: #425466;
}
.resultList{
  margin-top: 10px;
  height: calc(77vh - 40px);
  overflow-y: auto;
}
.resultItem{
  display: flex;
  margin: 5px 0;
  padding: 8px 10px;
}
.resultItem:hover{
  background-color: #F9FAFC;
  border-radius: 8px;
  cursor: pointer;
}
.recName{
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-right: 20px;
}
.resName{
  color: #718096;
  font-size: 14px;
  font-weight: 500;
}
.none{
  display: none;
}
.offset-1{
  margin-left: 0 !important;
  margin-right: 1.6%;
}
.respon > .col-md-4 {
  flex: 0 0 auto;
  width: 31.5% !important;
}
.searchButton{
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C9CED6;
}
.errorText{
  font-size: 9px;
  font-weight: 400;
  color: rgb(242, 81, 81);
  margin: 5px 0;
  display: block;
  margin-left: 5px;
}
.Dropcol {
  color: #b5b5bd;
}
.white-spinner{
  color: #fff !important;
}
.greenDot{
  position: absolute;
  top: 9px;
  left: 28px;
  background-color: #66CB9F;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 4px;
  z-index:0;
  border: 3px solid #fff;
}
