mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f9fafc;
}

// .testing_tabs::ng-deep {
//   .mat-tab-header {
//     width: 33% !important;
//   }
// }
// ::ng-deep .convirza-cai {
//   .mat-menu-content {
//     width: 252px;
//     padding: 16px;
//   }
// }
.height_top {
  height: 72px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  background-color: white;
}

// @media (min-width: 1000px) and (max-width: 1300px) {
//   .height_top {
//     height: 64px;
//   }
// }
.matToolbar {
  display: flex;
  align-items: center;
}
.img {
  position: relative;
  width: 90px;
  display: flex;
}
.img1 {
  position: absolute;
  z-index: 1;
  top: -24px;
  left: -25px;
}
.img2 {
  position: absolute;
  z-index: 2;
  top: -24px;
  left: 5px;
}
.img3 {
  position: absolute;
  z-index: 3;
  top: -24px;
  left: 33px;
}
.img4 {
  position: absolute;
  z-index: 4;
  top: -24px;
  left: 62px;
}
.onlinetext {
  margin-right: 40px;
}
.imgSize {
  width: 48px;
  height: auto;
}
.marginR {
  margin-right: 24px;
}
.tabs {
  margin-top: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.leaderboardList {
  position: relative;
  min-width: 320px;
}
.leaderboard {
  position: absolute;
  margin-top: 0;
  padding: 20px 13px 31px 13px;
  width: 320px;
  border-radius: 12px;
  background-color: #ffffff;
  // min-height: 320px;
  max-height: 393px;
  height: fit-content;
}
// .listHieght{
//   max-height: 500px;
//   overflow: auto;
// }
.toggleList {
  max-height: 339px;
  overflow-y: auto;
  overflow-x: hidden;
  // margin-top: 10px;
}
.leaderList {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding: 3px 5px;
  transition: 0.3s ease-in-out;
  position: relative;
  // cursor: url("../../../../../assets/hand.png"), auto;
}
.none {
  display: none;
}
.isRight {
  right: 6px;
}
.notRight {
  right: -4px;
}
.iconPosition {
  margin-top: 6px;
  position: absolute;
  top: 0;
  left: 245px;
}
.listHover:hover {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
    0px 10px 16px rgba(20, 37, 63, 0.06);
  border-radius: 8px;
  // cursor: url("../../../../../assets/hand.png"), auto;
  cursor: url("../../../../../../assets/hand2.svg"), auto;
}
.marginall {
  width: 35px;
  height: 35px;
  margin: 0 6px;
}
.staticCalls {
  position: relative;
  // margin-top: 15px;
  padding: 10px 40px;
}
.analize {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 12px 15px;
  background-color: white;
  margin-bottom: 22px;
  width: 203px;
  margin-top: 25px;
  height: fit-content;
  // min-height: 263px !important;
}
.analizeDetail {
  font-size: 14px;
  font-weight: 400;
  color: #585556;
  margin: 4px 0;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.scrollDivs {
  position: relative;
  min-width: 120px;
  max-width: 120px;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 12px 10px;
  text-align: center;
  margin-right: 8px;
  height: fit-content;
}
.userCardName {
  font-size: 14px;
  color: #425466;
  font-weight: 600;
  margin-bottom: 14px !important;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// .enter > div{
// transform: translate3d(auto, auto, auto) !important;
// }
.scrollDivss {
  position: relative;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 12px;
  padding: 14px 12px;
  text-align: center;
  margin-right: 12px;
  max-height: 261px;
}
.keywords {
  display: flex;
  // margin-top: 20px;
}
.keywords > div {
  width: 50%;
}
.team {
  font-size: 12px;
  display: flex;
  // border: 1px solid;
  background-color: white;
  border-radius: 8px;
  padding: 6px 8px;
}
.team > div {
  width: 50%;
}
.modal-title {
  font-size: 17px;
  font-weight: 600;
}
.modal-header {
  border-bottom: none !important;
}
.keyword_detail_r {
  display: flex;
  justify-content: space-between;
  padding: 8px 13px;
  align-items: center;
  border-radius: 12px;
  background-color: #ffeeee;
  margin: 2px 0px 3px 5px;
}
.keyword_detail_l {
  display: flex;
  justify-content: space-between;
  padding: 8px 13px;
  align-items: center;
  border-radius: 12px;
  background-color: #d9f1f2;
  margin: 2px 8px 3px 0px;
}
.keywords > div {
  margin: 0 0 0 20px;
}
.keywords > div:first-child {
  margin-left: 3px !important;
}
.teamTabs::ng-deep {
  .mat-tab-body-content {
    overflow: hidden;
  }
  .mat-tab-label {
    padding: 0 0 !important;
    height: 35px !important;
    min-width: 80px !important;
    border-bottom: 1px solid #f0f0f0;
    opacity: 1 !important;
    color: #718096;
    font-weight: 400;
    // color: #718096 !important;
  }
  .mat-tab-label .mat-tab-label-content {
    font-size: 16px;
    font-weight: 400;
  }

  .mat-tab-label-active {
    color: #ea714a;
    opacity: 1;
    border-bottom: 1px solid #ea714a;
    font-weight: 500 !important;
  }
  mat-ink-bar {
    background-color: transparent !important;
  }
  .md-ripple-container:active {
    background-color: none !important;
  }
  #mat-tab-label-0-4 {
    background-color: #fff !important;
  }
  .mat-tab-group.mat-primary
    .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled) {
    background-color: #fff !important;
  }
  .mat-tab-group.mat-primary
    .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled) {
    background-color: #fff !important;
  }
}
.active_check {
  color: #ea714a !important;
}
.not_active {
  color: #718096 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 20px !important;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  border-radius: 20px !important;
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 20px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dcdcdc;
}
.screentab {
  margin-top: 20px;
  height: 345px !important;

}

::-webkit-scrollbar-thumb:active {
  background-color: #dcdcdc;
}

.demo-inline-calendar-card {
  width: 225px !important;
  margin-left: 75px;
  // height: 270px;
}
.scroll_for {
  display: flex;
  width: 440px;
  overflow-x: auto;
  margin-left: 8px;
  // margin-top: 13px;
  // width: 500px;
  // padding-bottom: 8px;
  padding-top: 25px;
}
.paddingBottom {
  padding-bottom: 8px;
}
.editpan {
  margin-left: 40px;
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .scroll_for {
    width: 675px;
  }
  // .editpan {
  //   margin-right: 150px !important;
  // }
}
@media (min-width: 1701px) and (max-width: 1790px) {
  .scroll_for {
    width: 544px;
  }
  // .editpan {
  //   margin-right: 20px;
  // }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  .scroll_for {
    width: 490px;
  }
}
@media (min-width: 1900px) and (max-width: 2100px) {
  .scroll_for {
    width: 850px;
  }
  // .editpan {
  //   margin-right: 325px;
  // }
}
@media (min-width: 2101px) and (max-width: 2300px) {
  .scroll_for {
    width: 875px;
  }
  // .editpan {
  //   margin-right: 325px;
  // }
}
@media (min-width: 2301px) {
  .scroll_for {
    width: 533px;
  }
  // .editpan {
  //   margin-right: 325px;
  // }
}
@media (min-width: 2700px) and (max-width: 3000px) {
  // .editpan {
  //   margin-right: 20px;
  // }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .Teamresponsive {
    width: 220%;
  }
  // .toggleList {
  //   height: 50vh;
  // }
  mat-toolbar {
    width: 99% !important;
  }
  .mainDiv {
    width: 99% !important;
  }
}
// @media (min-width: 768px) and (max-width: 820px) {
//   .scroll_for {
//     width: 535px;
//   }
//   .testing_tabs::ng-deep {
//     .mat-tab-body-content {
//       overflow: scroll !important;
//     }
//   }
//   .keywords {
//     width: 200%;
//     margin-bottom: 30px;
//   }
//   // .analize {
//   //   width: 140px;
//   // }
//   .leaderboardList {
//     min-width: 240px;
//     // height: 349px;
//   }
//   .leaderboard {
//     width: 250px;
//   }
//   // .editpan{
//   //   margin-right: 33px !important;
//   // }
//   // .staticCalls {
//   //   // width: 63%;
//   //   padding: 10px 11px;
//   // }
//   .demo-inline-calendar-card {
//     width: 214px !important;
//     margin-left: 25px !important;
//   }
// }
@media only screen and (min-width: 1150px) and (max-width: 1360px) {
  .staticCalls {
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1450px) {
  .testing_tabs::ng-deep {
    .mat-tab-header {
      width: 432px !important;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .testing_tabs::ng-deep {
    .mat-tab-header {
      width: 45% !important;
    }
  }
}
::ng-deep .convirza-cai {
  #cdk-overlay-0 {
    position: absolute;
    right: 0px;
  }
}
.scroll_for {
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: auto;
}
::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}
.teamproo {
  font-size: 14px;
  color: #585556;
  font-weight: 400;
  margin-bottom: 1px;
}
.teampro {
  font-size: 14px;
  color: #585556;
  margin-bottom: 1px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.better {
  font-size: 10px;
  font-weight: 400;
  color: #718096;
}
.numcalls {
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #425466 !important;
  margin-top: 15px;
  margin-bottom: 10px;
}
.topperfo {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #425466 !important;
}
.topperfoo {
  font-size: 14px !important;
  color: #425466 !important;
  margin-left: 14px;
  font-weight: 600 !important;
}
@media only screen and (min-width: 768px) and (max-width: 810px) {
  .testing_tabs::ng-deep {
    .mat-tab-header {
      width: 100% !important;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1050px) {
  .testing_tabs::ng-deep {
    .mat-tab-header {
      width: 60% !important;
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .keyword_detail_l {
    margin: 12px 12px 12px 0px;
  }
  .keyword_detail_r {
    margin: 12px 12px 12px 0px;
  }
  .testing_tabs::ng-deep {
    .mat-tab-header {
      padding-top: 15px;
    }
  }
  .screentab {
    margin-top: 10px;
  }
  .keywords {
    display: flex;
    margin-top: 20px;
  }
  .marginall {
    width: 42px;
    height: 42px;
    margin: 0 6px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .keyword_detail_l {
    margin: 10px 10px 10px 0px;
  }
  .keyword_detail_r {
    margin: 10px 10px 10px 0px;
  }
  .testing_tabs::ng-deep {
    .mat-tab-header {
      padding-top: 20px;
    }
  }
  .screentab {
    margin-top: 12px;
  }
  .keywords {
    display: flex;
  }
  .marginall {
    width: 46px;
    height: 46px;
    margin: 0 6px;
  }
  // .height_top {
  //   height: 80px;
  //   border-top-left-radius: 20px;
  //   margin-top: 30px;
  // }
  // .scrollDivs {
  //   height: 170px;
  // }
  .teamproo {
    font-size: 13px;
    color: #585556;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .better {
    font-size: 10px;
    color: #718096;
  }
  .numcalls {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .topperfo {
    font-size: 14px;
    margin: 8px;
    font-weight: 600;
  }
  .topperfoo {
    font-size: 14px;
    margin: 8px;
    margin-left: 14px;
    font-weight: 600;
  }
}
.testing_tabs::ng-deep {
  .mat-tab-header {
    width: 506px !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
  }
}
.testingclass::ng-deep {
  .mat-tab-header {
    width: 620px !important;
  }
  .mat-tab-body-wrapper {
    height: 100% !important;
  }
  .mat-tab-group {
    height: 100% !important;
  }
}
@media only screen and (min-width: 1801px) and (max-width: 2000px) {
  .keyword_detail_l {
    margin: 14px 14px 14px 0px;
  }
  .keyword_detail_r {
    margin: 14px 14px 14px 0px;
  }
  .testing_tabs::ng-deep {
    .mat-tab-header {
      padding-top: 20px;
    }
  }
  .screentab {
    margin-top: 17px;
  }
  .keywords {
    display: flex;
  }
  .marginall {
    width: 46px;
    height: 46px;
    margin: 0 6px;
  }
  // .height_top {
  //   height: 80px;
  //   border-top-left-radius: 20px;
  //   margin-top: 30px;
  // }
  // .scrollDivs {
  //   height: 170px;
  // }
  .teamproo {
    font-size: 15px;
    color: #585556;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .better {
    font-size: 12px;
    color: #718096;
  }
  .numcalls {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .topperfo {
    font-size: 16px;
    margin: 12px;
    font-weight: 600;
  }
  .topperfoo {
    font-size: 16px;
    margin: 12px;
    margin-left: 14px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 2001px) and (max-width: 2300px) {
  .keyword_detail_l {
    margin: 14px 14px 14px 0px;
  }
  .keyword_detail_r {
    margin: 14px 14px 14px 0px;
  }
  .testing_tabs::ng-deep {
    .mat-tab-header {
      padding-top: 20px;
    }
  }
  .screentab {
    margin-top: 17px;
  }
  .keywords {
    display: flex;
  }
  .marginall {
    width: 46px;
    height: 46px;
    margin: 0 6px;
  }
  // .height_top {
  //   height: 80px;
  //   border-top-left-radius: 20px;
  //   margin-top: 30px;
  // }
  // .scrollDivs {
  //   height: 170px;
  // }
  .teamproo {
    font-size: 15px;
    color: #585556;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .better {
    font-size: 12px;
    color: #718096;
  }
  .numcalls {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .topperfo {
    font-size: 16px;
    margin: 12px;
    font-weight: 600;
  }
  .topperfoo {
    font-size: 16px;
    margin: 12px;
    margin-left: 14px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 2301px) and (max-width: 2800px) {
  .keyword_detail_l {
    margin: 14px 14px 14px 0px;
  }
  .keyword_detail_r {
    margin: 14px 14px 14px 0px;
  }
  .testing_tabs::ng-deep {
    .mat-tab-header {
      padding-top: 20px;
    }
  }
  .screentab {
    margin-top: 17px;
  }
  .keywords {
    display: flex;
  }
  .marginall {
    width: 46px;
    height: 46px;
    margin: 0 6px;
  }
  // .height_top {
  //   height: 70px;
  //   border-top-left-radius: 20px;
  //   margin-top: 18px;
  // }
  // .scrollDivs {
  //   height: 170px;
  // }
  .teamproo {
    font-size: 15px;
    color: #585556;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .better {
    font-size: 12px;
    color: #718096;
  }
  .numcalls {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .topperfo {
    font-size: 16px;
    margin: 12px;
    font-weight: 600;
  }
  .topperfoo {
    font-size: 16px;
    margin: 12px;
    margin-left: 14px;
    font-weight: 600;
  }
}
::ng-deep .convirza-cai {
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1650px) {
  .staticCalls {
    // width: 75%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1651px) and (max-width: 1700px) {
  .staticCalls {
    // width: 76%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1701px) and (max-width: 1750px) {
  .staticCalls {
    // width: 77%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1450px) {
  .staticCalls {
    // margin-top: 25px;
    // width: 70%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1451px) and (max-width: 1500px) {
  .staticCalls {
    // width: 71%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 1550px) {
  .staticCalls {
    // width: 72%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1551px) and (max-width: 1599px) {
  .staticCalls {
    // width: 72%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1751px) and (max-width: 1799px) {
  .staticCalls {
    // width: 78%;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1800px) and (max-width: 1900px) {
  .staticCalls {
    // width: 79%;
    padding: 10px 40px;
  }
}
::ng-deep .convirza-cai {
  .right {
    display: none !important;
  }
  .drp-selected {
    display: none !important;
  }
  .cancelBtn {
    border: 1px solid #cfc8c8;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    margin-right: 5px;
  }
  .cancelBtn:hover {
    background: #f4faff !important;
  }
  .applyBtn {
    border: none;
    width: 95px;
    height: 36px;
    border-radius: 8px;
    margin-left: 5px;
    background-color: #2999fd !important;
  }
  .applyBtn:hover {
    background-color: #54adfd !important;
    outline: none !important;
    border: none !important;
  }
  .btn:focus {
    box-shadow: none !important;
  }
  .applyBtn:focus {
    background-color: #54adfd !important;
    border: 1.5px solid #ea714a !important;
  }
  .drp-buttons {
    display: flex !important;
    justify-content: center !important;
    border-top: none !important;
  }
  .daterangepicker td.active {
    background-color: #2999fd !important;
  }
  .daterangepicker select.monthselect {
    font-size: 14px !important;
    font-weight: 600;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 50px;
    color: #988c8c;
    border: none !important;
  }
  .daterangepicker select.monthselect {
    width: 34% !important;
  }
  .daterangepicker select.yearselect {
    width: 38% !important;
    font-size: 14px !important;
    font-weight: 600;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 50px;
    color: #988c8c;
    border: none !important;
  }
  select:focus-visible {
    outline: none !important;
  }
  thead tr:nth-child(2) {
    color: #988c8c !important;
  }

  // .daterangepicker{
  //   position: sticky !important;
  // }
}
.borderList {
  border: 1px solid rgb(255, 100, 100);
  border-radius: 8px;
}
.already {
  position: absolute;
  top: 10px;
  left: 50%;
  color: #ea714a;
  background-color: #fae3db;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 8px;
}
.cdk-drag-preview {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
  background: #ffffff;
  border: 1px dashed #ea714a;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
    0px 10px 16px rgba(20, 37, 63, 0.06);
  border-radius: 8px;
  &.active {
    border: 1px dashed #ea714a;
    cursor: pointer;
  }
}
.cdkPreview + .cdk-drag-preview {
  display: block !important;
}
.cdk-drag-placeholder {
  // opacity: 0.8;
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.3, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.3, 1);
}

.badge1 {
  display: block;
}
.cdk-drag-preview .badge {
  display: none;
}
.cdk-drag-preview:hover {
  cursor: pointer;
}
.inputWidth {
  width: 85px;
}
.crossIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  transition: ease-in 0.3s;
}
::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px !important;
  display: none !important;
}
::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px !important;
  display: none !important;
}
.expandico {
  padding-right: 16px;
}
.expandicoo {
  padding-right: 26px;
}
@-moz-document url-prefix() {
  .analize {
    margin-bottom: 25px !important;
  }
  .expandico {
    padding-right: 26px;
  }
  .expandicoo {
    padding-right: 26px;
  }
}
.dropdown-menu {
  position: fixed !important;
}
::ng-deep .convirza-cai {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    border-radius: 20px !important;
    background-color: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d5d4d4;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 20px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #cecccc;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #b1b1b1;
  }
}
.dropdd {
  .dateDropdown {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    padding: 0px 8px 0px 6px;
    align-items: center;
    cursor: pointer;
  }
  .dateDropdownList {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    width: 140px;
    z-index: 99;
    background-color: #fff;
    color: #585556;
    height: 200px;
    overflow-y: auto;
  }
  .dateDropdownList::selection {
    background-color: transparent;
  }
  .dateDropdownList > div {
    text-align: start;
    padding: 7px;
    border-radius: 4px;
    color: #585556;
    padding-left: 10px;
    cursor: pointer;
  }
  .dateDropdownList > div::selection {
    background-color: transparent;
  }
  .dateDropdownList > div:hover {
    // background-color: #2999fd;
    color: #ea714a !important;
    transition: all 0.3s;
  }
}
.patch {
  position: absolute;
  top: -24px;
  right: 1px;
  width: 30px;
  height: 40px;
  // z-index: 99999;
}
.sac {
  width: 230px;
  height: 40px;
  border-radius: 8px;
  background-color: #2999fd;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 0.8em;
  margin-top: 16px;
  margin-bottom: 10px;
}
.sac:hover {
  background-color: #54adfd;
}
.det {
  width: 230px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #585556;
  margin-left: 0.8em;
  border: 1px solid #c9ced6;
  background-color: #fff;
}
.det:hover {
  background-color: #f4faff;
}
.form-check-input {
  border: 1px solid #c9ced6;
}
.form-check-input:checked {
  background-color: #ea714a;
  border-color: #ea714a;
}
// .form-check {
//   margin-top: 30px;
// }
.form-check-input[type="checkbox"] {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  box-shadow: none;
}
.relative {
  position: relative;
}
.matricDropdown {
  position: absolute;
  top: -15px;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  padding-right: 30px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
.TitleModal {
  margin-left: 10px;
  font-weight: 600;
  font-size: 17px;
  color: #425466;
  margin-top: 10px;
  margin-bottom: 35px;
}
.metricsChecks {
  margin: 12px 0;
  font-size: 14px;
  font-weight: 500;
  color: #425466;
}
input[type="checkbox"]:disabled {
  border: 1.5px solid #e8eaed;
  border-color: #e8eaed;
  color: #e8eaed;
  background-color: #e8eaed;
}
.eventNone {
  pointer-events: none;
  opacity: 0.7;
}
.searchContainer {
  margin-top: 20px;
  height: 72px;
}
.inputContainer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  border-radius: 8px;
  margin: 0 10px;
}
.mainDiv {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  z-index: 999;
}

.search {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-left: 9px;
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.clearText {
  font-size: 12px;
  font-weight: 600;
  color: #718096;
}
.verticalLine {
  border-left: 1px solid lightgray;
  height: 22px;
  margin-left: 15px;
}
.lookingFor {
  margin: 20px 0;
  padding: 0 10px;
}
.lookingText {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin-left: 7px;
}
.buttons {
  margin-top: 6px;
}
.buttons button {
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 15px;
  border: 1px solid #c9ced6;
  margin-right: 10px;
  height: 46px;
  color: #585556;
}
.buttons button:hover {
  background-color: #f4faff;
}
.buttons > button > svg {
  margin-right: 14px;
  fill: #707070;
  // stroke: #707070;
}
.tagStroke {
  fill: none !important;
  stroke: #707070;
}
.activeButton {
  background-color: #2999fd;
  color: #fff !important;
  border: 1px solid #2999fd !important;
}
.buttons button:active {
  border: 1px solid #ea714a !important;
}
.activeButton > svg {
  fill: #fff !important;
}
.activeButton:hover {
  background-color: #54adfd !important;
  border: 1px solid #54adfd !important;
}
.activeStroke > svg {
  stroke: #fff !important;
  fill: none !important;
}
.listContainer {
  padding: 0 10px;
  margin: 15px 0;
  max-height: 160px;
  overflow-y: auto;
}
.userList {
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
}
.userList:hover {
  background-color: #f9fafc;
}
.userName {
  font-weight: 500;
  font-size: 14px;
  color: #425466;
}
.userMail {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
}
.focusOnList {
  background-color: #f9fafc;
}
.flex {
  display: flex;
  align-items: center;
}
.item-center {
  align-items: center;
}
.loader-bg {
  margin-top: 1rem;
  width: 100%;
  height: 70vh;
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;

  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}
.loader-bg h3 {
  position: fixed;
  color: #ff5e31;
  font-size: 24px;
}
.loader {
  width: 4rem;
  height: 4rem;
  font-size: 22px;
  box-sizing: border-box;
  border-top: 0.3em solid #505050;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.loader span {
  position: absolute;
  color: #ff5e31;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 0.3em solid #ff5e31;
  transform: rotate(240deg);
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg));
  }
  100% {
    transform: rotate(calc(360deg));
  }
}
.spinner-border {
  color: #2999fd;
}
.resultFound {
  margin-top: 10px;
  padding: 0 10px;
}
.resultCount {
  font-size: 14px;
  font-weight: 500;
  color: #425466;
}
.resultList {
  margin-top: 10px;
  height: calc(77vh - 40px);
  overflow-y: auto;
}
.resultItem {
  display: flex;
  margin: 5px 0;
  padding: 8px 10px;
}
.resultItem:hover {
  background-color: #f9fafc;
  border-radius: 8px;
  cursor: pointer;
}
.recName {
  font-size: 14px;
  font-weight: 500;
  color: #425466;
  margin-right: 20px;
}
.resName {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
}
.sac:active {
  border: 1px solid #ea714a;
}
.det:active {
  border: 1px solid #ea714a;
}
.dragnDropDiv {
  height: 100%;
  display: flex;
  align-items: center;
}
.rangeField::ng-deep {
  .md-drppicker.double {
    width: 244px !important;
  }
  .md-drppicker .calendar-table {
    padding: 0 !important;
  }
  .drops-down-right {
    position: absolute;
    top: 12px !important;
    left: 337px !important;
  }
  .md-drppicker .dropdowns {
    width: 75px !important;
  }
  .md-drppicker .buttons {
    margin: 0 !important;
  }
  .md-drppicker td.active {
    background-color: #2999fd !important;
  }
  .md-drppicker td {
    opacity: 1 !important;
  }
  .md-drppicker .btn.btn-default {
    float: left !important;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfc8c8 !important;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    color: #212529 !important;
    margin-left: 18.6px;
    text-transform: capitalize;
  }
  .md-drppicker .btn.btn-default:hover {
    background-color: #f4faff !important;
  }
  .md-drppicker .btn.btn-default:active {
    outline: 1.5px solid #ea714a !important;
    border: 1px solid #fff !important;
    color: #212529 !important;
    background-color: #fff !important;
  }
  .md-drppicker .btn.btn-default:active {
    background-color: transparent !important;
  }
  .md-drppicker td.start-date {
    border-radius: 0px 0px 0px 0px !important;
  }
  .md-drppicker td.end-date {
    border-radius: 0px 0px 0px 0px !important;
  }
  .md-drppicker .btn {
    border: none !important;
    width: 90px;
    height: 36px;
    border-radius: 8px;
    margin-left: 5px;
    background-color: #2999fd;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 9.5px;
    text-transform: capitalize;
    color: #fff !important;
  }
  .md-drppicker .btn:hover {
    background-color: #54adfd !important;
  }
  .md-drppicker .btn:active {
    outline: 1.5px solid #ea714a !important;
    border: transparent !important;
    color: #fff !important;
  }
  .md-drppicker .btn:before {
    background-color: transparent !important;
  }
  .buttons_input {
    margin-bottom: 6px !important;
    padding-right: 12px !important;
  }
  .md-drppicker .clear svg {
    display: none !important;
  }
  .in-range {
    background-color: #ebf4f8 !important;
  }
  .md-drppicker td {
    border: none !important;
  }
  .md-drppicker td.available:hover {
    border-radius: 2px !important;
  }
  .in-range {
    background-color: #ebf4f8 !important;
  }
  .md-drppicker td {
    border: none !important;
  }
  .md-drppicker td.available:hover {
    border-radius: 2px !important;
  }
  .md-drppicker td.start-date {
    border-radius: 4px 0 0 4px !important;
  }
  .md-drppicker td.end-date {
    border-radius: 0 4px 4px 0 !important;
  }
  .md-drppicker .dropdowns {
    width: 60px !important;
  }
  .drp-animate {
    font-size: 12px;
  }
  // .drp-animate > tr > td {
  //   padding: 2px 0;
  // }
  .md-drppicker .calendar td {
    padding: 5px 0 !important;
  }
  .md-drppicker th.month {
    font-size: 14px !important;
  }
  .calendar-table {
    margin-bottom: 12px !important;
  }
}
.searchButton {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9ced6;
}
.redText {
  color: #f16063 !important;
}
.greenText {
  color: #429e55 !important;
}
